
/* body styling */
body{
    text-align: center;
    background-image: url("../images/Zelda-cast.jpg")
}
.bg-warning{
    background-color: #231f1f!important;
}
/* container styling */
.container {
    width: 70%;
    opacity: .9;
    margin-top: 1%;
    margin-bottom: 5%;
    color: gold;
}

h4{
    margin-top: .5%;
    border-bottom: .5px solid gold
}

/* list styling */
.row ul {
    margin: auto;
}

li {
    display: inline;
    margin-right: 20px;

}

/* header styling */
.header {
    margin: 1% auto;
    border-bottom: 1px solid red;
}

/* timer styling */
#display {
    font-size: 24px;
    font-weight: bold;
}

/* button styling */
.btn {
    margin: .5% auto;
    background-color: #b03400;
    color: #e5b468;
}

@media screen and (max-width: 1168px) {
    .container {
        width: 95%
    }
}

@media screen and (max-width: 992px) {
    li {
        display: block;
    }
}